<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add News And Announcements</title>
</head>
<body>

<h3 style="color: #ac2925">Add Announcement :</h3>

<form action="/addAnnouncement" method="post" enctype="multipart/form-data">

    <input type="text" name="slogan" placeholder="Slogan"><br>
    <input type="text" name="model" placeholder="Model"><br>
    <input type="text" name="price" placeholder="Price"><br>
    <input type="file" name="picture"><br><br>
    <input type="submit" value="Add">

</form>

</body>
</html>